## --Pandas--

- pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool
- Pandas is used to data manipulating
- pandas is used to load the datasets like csv,excel, pdf,mysql formats.
- pandas is used to remove the unwanted data

In [7]:
# to install the pandas follw steps :

!pip install pandas

Requirement already satisfied: pandas in c:\users\arung\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\arung\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arung\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\arung\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\arung\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\arung\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
import pandas as pd

In [29]:
A=pd.read_csv("financial 2023 year.csv")
A.head()

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)

In [31]:
A.describe()  
# describe gives the stastical measures of numerical data like max,min,mean,median,std

              year
count  20124.00000
mean    2017.00000
std        3.74175
min     2011.00000
25%     2014.00000
50%     2017.00000
75%     2020.00000
max     2023.00000

In [33]:

# info will give the columns and it is types

A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20124 entries, 0 to 20123
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  20124 non-null  int64
 1   industry_code_ANZSIC  20124 non-null  object
 2   industry_name_ANZSIC  20124 non-null  object
 3   rme_size_grp          20124 non-null  object
 4   variable              20124 non-null  object
 5   value                 20124 non-null  object
 6   unit                  20124 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.1+ MB

In [37]:
print("Total rows in the dataset : ",len(A))

Total rows in the dataset :  20124

In [41]:
# To remove to duplicates values

A=A.drop_duplicates()
B=len(A)
print("Total rows of data after removing the duplicates in dataset :",B)

Total rows of data after removing the duplicates in dataset : 20124

In [43]:

# to check the columns in a dataset

A.columns

Index(['year', 'industry_code_ANZSIC', 'industry_name_ANZSIC', 'rme_size_grp',
       'variable', 'value', 'unit'],
      dtype='object')

In [45]:
# to see null values in dataset

A.isna().any()

year                    False
industry_code_ANZSIC    False
industry_name_ANZSIC    False
rme_size_grp            False
variable                False
value                   False
unit                    False
dtype: bool

In [47]:
# to see null values in dataset

A.isna().sum()

year                    0
industry_code_ANZSIC    0
industry_name_ANZSIC    0
rme_size_grp            0
variable                0
value                   0
unit                    0
dtype: int64

## If outliers are present in data then use median value, if not use mean value

In [50]:
A['year'].value_counts()

year
2011    1548
2012    1548
2013    1548
2014    1548
2015    1548
2016    1548
2017    1548
2018    1548
2019    1548
2020    1548
2021    1548
2022    1548
2023    1548
Name: count, dtype: int64

In [ ]:
A[]